swagger: "2.0"
info:
  version: 1.0.0
  title: API для получения информации главной страницы skvdmt.ru
  description: В приложение присуствуют возможности получения текста заголовков и описаний страницы, а также перечни технологий, примеров, библиотек, програмного обеспечения и ссылок на ресурсы.
  contact:
    name: Dmitry Skidanov
    url: https://skvdmt.ru/
    email: skvdmt@yandex.ru
host: "skvdmt.ru"
basePath: /api/v1
schemes: [ https ]
consumes: [ application/json ]
produces: [ application/json ]
paths:
  /text/main:
    get:
      tags: [ Тексты ]
      summary: Main header text
      description: Получение текста основного заголовка страницы.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/tech:
    get:
      tags: [ Тексты ]
      summary: Technologies header text
      description: Получение текста заголовка технологий.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/exam:
    get:
      tags: [ Тексты ]
      summary: Examples header text
      description: Получение текста заголовка примеров.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/favo:
    get:
      tags: [ Тексты ]
      summary: Favorites header text
      description: Получение текста заголовка избранного.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/soft:
    get:
      tags: [ Тексты ]
      summary: Software header text
      description: Получение текста заголовка програмного обеспечения.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/libs:
    get:
      tags: [ Тексты ]
      summary: Libs header text
      description: Получение текста заголовка любимых библиотек.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/prof:
    get:
      tags: [ Тексты ]
      summary: Profession text
      description: Получение текста профессии.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/abou:
    get:
      tags: [ Тексты ]
      summary: About text
      description: Получение текста описания автора.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /text/loca:
    get:
      tags: [ Тексты ]
      summary: Location text
      description: Получение текста о локации.
      responses:
        200:
          description: Все в порядке.
          schema:
            $ref: '#/definitions/ObjectText'
  /technologies:
    get:
      tags: [ Остальное ]
      summary: Technologies list
      description: Получение списка технологий.
      responses:
        200:
          description: Все в порядке.
          schema:
            type: array
            items: 
              $ref: '#/definitions/Technology'
  /examples:
    get:
      tags: [ Остальное ]
      summary: Examples list
      description: Получение списка примеров.
      responses:
        200:
          description: Все в порядке.
          schema:
            type: array
            items: 
              $ref: '#/definitions/Example'
  /software:
    get:
      tags: [ Остальное ]
      summary: Software list
      description: Получение списка программ для разработки.
      responses:
        200:
          description: Все в порядке.
          schema:
            type: array
            items: 
              $ref: '#/definitions/Software'
  /libs:
    get:
      tags: [ Остальное ]
      summary: Libraries list
      description: Получение списка используемых в разработке библиотек.
      responses:
        200:
          description: Все в порядке.
          schema:
            type: array
            items: 
              $ref: '#/definitions/Lib'
  /links:
    get:
      tags: [ Остальное ]
      summary: Links list
      description: Ссылки на источники и контакты.
      responses:
        200:
          description: Все в порядке.
          schema:
            type: array
            items: 
              $ref: '#/definitions/Link'
definitions:
  ObjectText:
    type object:
    required:
    - id
    - text
    properties:
      id:
        $ref: '#/definitions/Id'
      text:
        $ref: '#/definitions/Text'
  Technology:
    type: object
    required:
    - id
    - name
    - url
    properties:
      id:
        $ref: '#/definitions/Id'
      name:
        $ref: '#/definitions/Name'
      url:
        $ref: '#/definitions/Url'
  Example:
    type: object
    required:
    - id
    - name
    - title
    - description
    properties:
      id:
        $ref: '#/definitions/Id'
      name:
        $ref: '#/definitions/Name'
      title:
        $ref: '#/definitions/Title'
      description:
        $ref: '#/definitions/Description'
      technologies:
        type: array
        items:
          $ref: '#/definitions/Technology'
      links:
        type: array
        items:
          $ref: '#/definitions/Link'
      sources:
        type: array
        items:
          $ref: '#/definitions/Source'
  Link:
    type: object
    required:
    - id
    - title
    - url
    properties:
      id:
        $ref: '#/definitions/Id'
      title:
        $ref: '#/definitions/Title'
      url:
        $ref: '#/definitions/Url'
  Source:
    type: object
    required:
    - id
    - url
    properties:
      id:
        $ref: '#/definitions/Id'
      url:
        $ref: '#/definitions/Url'
  Lib:
    type: object
    required:
    - id
    - url
    properties:
      id:
        $ref: '#/definitions/Id'
      url:
        $ref: '#/definitions/Url'
  Software:
    type: object
    required:
    - id
    - title
    - url
    properties:
      id:
        $ref: '#/definitions/Id'
      title:
        $ref: '#/definitions/Title'
      url:
        $ref: '#/definitions/Url'
  Id:
    type: string
    format: uuid
    example: 01a0801c-ceb5-7783-b6f4-4f2fcadb942c
  Name:
    type: string
    example: "Some name"
  Title:
    type: string
    example: "Some title"
  Description:
    type: string
    example: "Some description."
  Text:
    type: string
    example: "Some text"
  Url:
    type: string
    example: "https://some.link/"
  NotFound:
    type: object
    properties:
      message:
        type: string
        example: Not Found
tags:
  - name: Тексты
    description: Различные тексты страницы(заголовки, описания).
  - name: Остальное
    description: Список технологий, примеров работ, программ, библиотек и ссылок.
